.googlemapscanvas
{
	height: 500px;
	width: 900px;
}

.content-area
{
	background-color:rgba(0,0,0,0.1);
	min-height: 800px;
}

.center {
	padding:10px;
	margin: 0 auto;
}

.footer-area
{
	background-color: rgba(25,52,65,0.75); 
	min-height: 200px;
}

.footer-area {
	color: white;
}

.footer-area a{
	color: white;
}

/*ADV search*/
.Search-Area .checkbox{
	padding: 10px;
}

.Search-Area .checkbox:hover{
	color: rgba(255,0,0,0.5);
}

div.Search-Area label{
	width:100%;
	height: 100%;
}

div.checkbox + input[type=checkbox]:checked {
  color: #f00;
  font-style: normal;
} 