.content-area-mainpage
{
	background-color:rgba(21,165,189,0.2);
	margin-top: -30px;
	min-height: 800px;
}

.frontpage-search{
	min-height: 50px;
	background-color:rgba(0,0,0,0.5);
}

.jumbotron-mainpage {
	min-height: 400px;
}

.input-group .form-control{
	width: 100%;
}