.content-area-mainpage
{
	background-color:rgba(21,165,189,0.2);
	margin-top: -30px;
	min-height: 800px;
}

.frontpage-search{
	min-height: 50px;
	background-color:rgba(0,0,0,0.5);
}

.jumbotron-mainpage {
	min-height: 400px;
}

.input-group .form-control{
	width: 100%;
}

#Adv-Search {
	padding: 20px 0px;
	background-color: rgba(255,255,255,0.5);
}

/* These need to be custom designed divs later, not browser generated */
#Adv-Search label {
	font-size: 18pt;
}

#Adv-Search input[type='checkbox'] {
	/*background-image:height: 100px; width: 100px;*/
}

#Adv-Search input[type='checkbox']:checked{
	/*background-image:*/
}