body.is-nav-state {
	.main-site-area{
		left: (260/16)*1em;
	}
	.navigation-area {
		width: (260/18)*1em;
	}
}
.dealers{
    .dealer{
        height: ((375/16)*1em);
    }
}
.sidebar{
	ul{
		-webkit-column-count: 2;
	    -moz-column-count: 2;
	    column-count: 2;
	}
}
