.people{
	width: 40%;
} 
form {
	width: 60%;
}
.deals .deal{
    width: calc(25% - ((15/16)*1em));
    &:nth-child(2n){
        margin-right: ((20/16)*1em);
    }
    &:nth-child(3n){
        margin-right: ((20/16)*1em);
    }
    &:nth-child(4n){
        margin-right: 0;
    }
    &:nth-child(4n+1){
        clear: both;
    }
    &:nth-child(3n+1){
        clear: none;
    }
    &:nth-child(2n+1){
        clear: none;
    }
}