h3{
    position: relative;
    .btn {
        position: absolute;
        top: (3/16)* 1em;
        right: 0;
        margin-left: (5/16)*1em;
    }
}
.dealers .dealer{
    height: ((200/16)*1em);
    .inner-card{
        .main-info, .contact-info{
            background: lighten($dark, 15%);
            display: block;
            float: left;
            width: 50%;
            height: 100%;
            padding: (10/16) *1em;
        }
        .main-info{
            background: lighten($dark, 15%);
            text-align: center;
            &:before{
                content: '';
                display: block;
                width: 0; 
                height: 0; 
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-left: 8px solid lighten($dark, 15%);
                position: absolute;
                left: calc(50%);
                top: calc(50% - 4px);
                z-index: 10;
            }
            img{
                display: block;
                height: 50%;
                width: auto;
                object-fit: cover;
                object-position: center;
                border-radius: ((2/16)*1em);
                border-radius: 1000px;
                margin: 0 auto;
                float: none;
                padding: 0;
                border: 3px solid $info;
                background: white;
            }
            h3, h4{
                margin: 5px 0;
            }
            h3{
                font-size: 1em;
            }
            h4{
                font-size: 0.8em;
            }
        }
        .contact-info{
            background: $dark;
            padding-left: (15/16)*1em;
        }
    }
}

.deals .deal{
    width: calc(50% - ((10/16)*1em));
    margin-right: ((20/16)*1em);
    &:nth-child(3n){
        margin-right: ((20/16)*1em);
    }
    &:nth-child(2n){
        margin-right: 0;
    }
    &:nth-child(3n+1){
        clear: none;
    }
    &:nth-child(2n+1){
        clear: both;
    }
}
.login {
    form.login-form{
        width: (425/16) * 1em;
        margin: 0 auto;
    }
}
.sidebar{
    ul{
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}