/* ----------------------------- Theme ------- */
@import "theme";

/* ----------------------------- Utilities ------- */
@import "utilities";
.viewport-label{
	position: absolute;
	&::before {
		content: "";
		position: fixed;
		z-index: 1000000;
		bottom: 0;
		right: 0;
		padding: 0 5px;
		color: white;
		font-size: 0.75em;
		background: rgba(0, 0, 0, 0.5);
	}
}

/* ----------------------------- Base ------- */
@import "base";

/* ----------------------------- Angular UI ------- */
@import "angular-ui";

/* ----------------------------- Default ------- */
@import "default";

/* ---------------------- Price Tags ------- */
@import "tags";

/* --------------------- Page Stacks ------- */
@import "bcard";


/* --------------------------------- First BrkPt */
@media(min-width: (320/16) * 1em){
    @import "breakpoints/first";
    .viewport-label::before {
	    content: "320 / First Breakpoint";
	}
}
/* --------------------------------- Second BrkPt */
@media(min-width: (500/16) * 1em){
    @import "breakpoints/second";
    .viewport-label::before {
	    content: "500 / Second Breakpoint";
	}
}

/* --------------------------------- Third BrkPt */
@media(min-width: (700/16)*1em){
    @import "breakpoints/third";
    .viewport-label::before {
	    content: "700 / Third Breakpoint";
	}
}

/* --------------------------------- Fourth BrkPt */
@media(min-width: (800/16)*1em){
    @import "breakpoints/fourth";
    .viewport-label::before {
	    content: "800 / Fourth Breakpoint";
	}
}

/* --------------------------------- Fifth BrkPt */
@media(min-width: (1000/16)*1em){
    @import "breakpoints/fifth";
    .viewport-label::before {
	    content: "1000 / Fifth Breakpoint";
	}
}