.dealers{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.dealer{
    width: 100%;
    position: relative;
    float: left;
    height: ((350/16)*1em);
    // perspective: 800px;
    margin: 0 0 ((30/16)*1em) 0;
    .inner-card {
        height: 100%;
        width: 100%;
        position: absolute;
        // transform-style: preserve-3d;
        // transition: transform 1s;
        z-index: auto;
        background: lighten($dark, 15%);
        box-shadow: ((1/16)*1em) ((1/16)*1em) ((1/16)*1em) rgba(130, 130, 130, 0.25);
        border-radius: ((2/16)*1em);
        overflow: hidden;
        .main-info, .contact-info{
            background: lighten($dark, 15%);
            display: block;
            float: left;
            width: 100%;
            height: 50%;
            padding: (10/16) *1em;
        }
        .main-info{
            background: lighten($dark, 15%);
            text-align: center;
            &:before{
                content: '';
                display: block;
                width: 0; 
                height: 0; 
                border-top: 8px solid lighten($dark, 15%);
                border-right: 8px solid transparent;
                border-left: 8px solid transparent;
                position: absolute;
                left: calc(50% - 8px);
                top: calc(50%);
                z-index: 10;
            }
            img{
                display: block;
                width:auto;
                height: 60%;
                object-fit: cover;
                object-position: center;
                border-radius: ((2/16)*1em);
                border-radius: 1000px;
                margin: 0 auto;
                float: none;
                padding: 0;
                border: 3px solid $info;
                background: white;
            }
            h3, h4{
                margin: 5px 0;
            }
            h3{
                font-size: 1em;
            }
            h4{
                font-size: 0.8em;
            }
        }
        .contact-info{
            background: $dark;
            list-style-type: none;
            color: white;
            li{
                margin: (5/14)*1em 0;
                .location{
                    display: inline-block;
                    &:not(:nth-child(2)){
                        margin-left: (16/14)*1em;
                    }
                }
                &.social-media{
                    z-index: 1000;
                    text-overflow: ellipsis;
                    overflow:hidden;
                    white-space: nowrap;
                    margin-left: 0;
                    z-index: 101;
                    .fa {
                        color: $red;
                        margin-left: 0;
                    }
                }
                .fa {
                    color: $red;
                    width: (16/14) *1em;
                }
            }
        }
        a.card-link{
            display: block;
            z-index: 100;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
    }
}
// .main-info:after{
//     width: 0; 
//     height: 0; 
//     border-top: 14px solid transparent;
//     border-bottom: 14px solid transparent;
//     border-left: 14px solid whitesmoke;
//     position: absolute;
//     top: calc(50% - 7px);
//     right: -14px;
// }
