@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic|Josefin+Sans:300,400,700,300italic,400italic,700italic|Montserrat:400,700);
@font-face {
    font-family: "Redacted";
    src: url("../fonts/web/redacted-font/redacted-script-regular.eot");
    src: url("../fonts/web/redacted-font/redacted-script-regular.woff") format("woff"),
         url("../fonts/web/redacted-font/redacted-script-regular.otf") format("opentype"),
         url("../fonts/web/redacted-font/redacted-script-regular.svg#filename") format("svg");
}


$off-white: whitesmoke;
// $light: #dec3a4;
// $medium: #b39c7b;
// $green: #737d5a;
// $dark-red: #5d3131;
// $red: maroon;
// $light-red: #b03c3c;
// $orange: #ed6958;
// $yellow: #edd193;

$dark: #515666;
$red: #ED4558;
$bg: #F3F3F3;
// $light;
$success: #9DCA3E;
$info: #2BB6BE;
// $info: #5F87A5;