<div class='section1'>
	<h2>Contact</h2>
	<p>DealMe is built by Advent Interactive, Inc. (a tech startup) in Edmonton, AB. Advent Interactive is made up of a small group of people from NAIT and Arts Institute of Vancoucer. The people working on the project include:</p>
	<dl class='people'>
		<dt>Developers</dt>
		<dd>Kyle Materi (Back-End Developer/CPO)</dd>
		<dd>Kia Skretteberg (Front-End Developer)</dd>
		<dd>Albert Uy (Software Engineer/CTO)</dd>
		<dt>Other</dt>
		<dd>Jesse Hayward (CEO/COO)</dd>
		<dd>Michael Abray (Accounting)</dd>
		<dd>Brennan Bunko (Marketing)<dd>
	</dl>
	<form>
		<p>Fill out the form to get in touch with our team.</p>
	    <input type='text' ng-model="name" placeholder='Name'>
	    <input type='text' ng-model="email" placeholder='Email'>
	    <textarea ng-model='message' placeholder='Message'></textarea>
	</form>
</div>