<div class='section1 clearFix'>
	<h2>Deal.ers</h2>
	<button class='btn map-btn' ng-click='setMap()'><span class='fa fa-map-marker'></span> Map View</button> <button class='btn list-btn' ng-click='setList()'><span class='fa fa-list-ul'></span> List View</button>
	<div class='sidebar'>
		<input type='text' ng-model='searchQuery' placeholder='Search...'>
		<h3>Category</h3>
		<ul>
			<li ng-repeat='category in categories' ng-click='selectCategory(category.id)'><span ng-class='category.selected == 1 ? "fa fa-check-square-o" : "fa fa-square-o"'></span> {{category.name}}</li>
		</ul>
	</div>
	<ul ng-if='listview == true' class='dealers list-view clearFix'>
		<li class='dealer' ng-repeat='dealer in dealers | categoryFilter:categories | filter:searchQuery as results'>
			<div class='inner-card'>
				<a class='card-link' ng-href='#/dealers/{{dealer.dealer_id}}'></a> <!-- onmouseover='flipCardBack(this)' onmouseout='flipCardFront(this)' -->
				<div class='main-info'>
					<img ng-src='assets/images/{{dealer.profile_img}}'>
				    <h3 class='title'>{{dealer.title}}</h3>
				    <h4 class='sub-title'>{{dealer.subtitle}}</h4>
			    </div>
			    <ul class='contact-info'>
				    <li class='locations'><span class='fa fa-map-marker'></span><span class='location' ng-repeat='location in dealer.locations | limitTo: 2'>{{location}}<span ng-if='location != dealer.locations[dealer.locations.length-1]'>,</span></span><span class='location more-locations' ng-if='dealer.locations.length > 2'>View More...</span></li>
				    <li class='social-media' ng-if='dealer.sm.twitter'><span class='fa fa-twitter'></span>{{dealer.sm.twitter}}</li>
				    <li class='social-media' ng-if='dealer.sm.facebook'><span class='fa fa-facebook'></span>{{dealer.sm.facebook}}</li>
				    <li class='social-media' ng-if='dealer.sm.googleplus'><span class='fa fa-google-plus'></span>{{dealer.sm.googleplus}}</li>
				    <li class='social-media' ng-if='dealer.sm.instagram'><span class='fa fa-instagram'></span>{{dealer.sm.instagram}}</li>
				    <li class='social-media' ng-if='dealer.sm.linkedin'><span class='fa fa-linkedin'></span>{{dealer.sm.linkedin}}</li>
				    <li class='social-media' ng-if='dealer.sm.tumblr'><span class='fa fa-tumblr'></span>{{dealer.sm.tumblr}}</li>
			    </ul>
			</div>					
		</li>
		<li ng-if='results.length == 0'>There are no dealers to display.</li>
	</ul>
	<div class='map-view' ng-if='mapview == true'>
		<div id='map_canvas'></div>
	</div>
</div>