<div class='section1'>
	<div class='dealer'>
		<div class='inner-card'>
			<div class='main-info'>
				<img ng-src='assets/images/{{dealer.profile_img}}'>
			    <h2 class='title'>{{dealer.title}}</h2>
			    <h3 class='sub-title'>{{dealer.subtitle}}</h3>
		    </div>
		    <ul class='contact-info'>
		    	<li class='details'><span class='fa fa-list-ul'></span>{{dealer.details}}</li>
			    <li class='locations'><span class='fa fa-map-marker'></span><span class='location' ng-repeat='location in dealer.locations'>{{location}}<span ng-if='location != dealer.locations[dealer.locations.length-1]'>,</span></span></li>
			    <li class='social-media' ng-if='dealer.sm.twitter'><a href='{{dealer.sm.twitter}}'><span class='fa fa-twitter'></span>{{dealer.sm.twitter}}</a></li>
			    <li class='social-media' ng-if='dealer.sm.facebook'><a href='{{dealer.sm.facebook}}'><span class='fa fa-facebook'></span>{{dealer.sm.facebook}}</a></li>
			    <li class='social-media' ng-if='dealer.sm.googleplus'><a href='{{dealer.sm.googleplus}}'><span class='fa fa-google-plus'></span>{{dealer.sm.googleplus}}</a></li>
			    <li class='social-media' ng-if='dealer.sm.instagram'><a href='{{dealer.sm.instagram}}'><span class='fa fa-instagram'></span>{{dealer.sm.instagram}}</a></li>
			    <li class='social-media' ng-if='dealer.sm.linkedin'><a href='{{dealer.sm.linkedin}}'><span class='fa fa-linkedin'></span>{{dealer.sm.linkedin}}</a></li>
			    <li class='social-media' ng-if='dealer.sm.tumblr'><a href='{{dealer.sm.tumblr}}'><span class='fa fa-tumblr'></span>{{dealer.sm.tumblr}}</a></li>
		    </ul>
		</div>					
	</div>
</div>