<div class='section1'>
	<h3>Deal.s</h3>
	<div class='sidebar'>
		<input type='text' ng-model='searchQuery' placeholder='Search...'>
		<h3>Category</h3>
		<ul>
			<li ng-repeat='category in categories' ng-click='selectCategory(category.id)'><span ng-class='category.selected == 1 ? "fa fa-check-square-o" : "fa fa-square-o"'></span> {{category.name}}</li>
		</ul>
	</div>
	<ul class='deals list-view'>
		<li class='deal' ng-repeat='deal in deals | categoryFilter:categories | filter:searchQuery as results'>
			<a ng-href='#/dealer/{{deal.dealer_id}}'></a>
			<div class='tag-body' > 
				<div class="tag-title"><h3>{{deal.title}}</h3></div>
				<div class="tag-dealer">@ {{deal.dealer}}</div>
			</div>
		</li>
		<li ng-if='results.length == 0'>There are no deals to display.</li>
	</ul>
</div>